numpy
pandas
viennarna
primer3-py
pathos
pyfaidx==0.5.9.5
fire
seqwalk
pyyaml
click
intervaltree
matplotlib
plotly

executor-http>=0.1.2
fire
pyyaml
python-jose
passlib==1.7.4
python-multipart
bcrypt==3.2.2
fastapi>=0.135.0
uvicorn
python-dotenv
